  - name: run registry
    shell: "docker run -v /certs:/certs -v /mnt/registry:/var/lib/registry -d -p 5000:5000 -e REGISTRY_HTTP_ADDR=:5000 -e REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry  -e REGISTRY_HTTP_TLS_CERTIFICATE=/certs/wildcard.crt -e REGISTRY_HTTP_TLS_KEY=/certs/wildcard.key --name registry registry:2"
    register: result_registry
    failed_when: "'is already in use' not in result_registry.stderr and 'port is already allocated' not in result_registry.stderr and 'result_registry.stdout_lines' exists == False"

