  - name: install build-essential 
    apt: name=buid-essential,tcl8.5 state=latest
  - name: Get redis 
    get_url: url="http://download.redis.io/releases/redis-stable.tar.gz"  dest=/opt/redis-stable.tar.gz mode=0644
  - name: unzip redis 
    unarchive: src=/opt/redis-stable.tar.gz dest=/opt/ copy=no 
  - name: build redis
    command: "{{ item }}" chdir="/opt/redis-stable"
    with_items:
    - make
    - make install
    - echo -n | utils/install_server.sh 
