  - name: install build-essential 
    apt: name=build-essential,tcl8.5 state=latest
  - name: Get redis 
    get_url: url="http://download.redis.io/releases/redis-stable.tar.gz"  dest=/opt/redis-stable.tar.gz mode=0644
  - name: unzip redis 
    unarchive: src=/opt/redis-stable.tar.gz dest=/opt/ copy=no 
  - name: build redis
    shell: chdir=/opt/redis-stable "{{ item }}" 
    with_items:
    - "make"
  - name: build redis
    shell: 'make install chdir=/opt/redis-stable'
  - name: build redis
    shell: 'echo -n | /opt/redis-stable/utils/install_server.sh'
