  - name: print consult_network 
    debug: var=hostvars[groups]
    with_items: groups['swarm-master']
  - name: set fact consul_network
    set_fact: consult_network="{{ hostvars[item]['ansible_eth0']['ipv4']['address'] }}"
    with_items: groups['swarm-master']
  - name: print consult_network 
    debug: var=consul_network
  - name: run consul
    docker: 
      name: consul
      image: progrium/consul
      state: started
      command: "-server -bootstrap"
      detach: True
      restart_policy: always
      ports:
      - "8500:8500"    
  - name: run consul network
    docker: 
      name: consul-network
      image: progrium/consul
      state: started
      command: "-server -bootstrap"
      detach: True
      restart_policy: always
      ports:
      - "8501:8501"
