  - name: set fact consul_network
    set_fact: consult_network="{{ hostvars[groups['swarm-master'][0]]['ansible_eth0']['ipv4']['address'] }}"
  - name: run consul
    docker: 
      name: consul
      image: progrium/consul
      state: started
      command: "-server -bootstrap"
      detach: True
      restart_policy: always
      ports:
      - "8500:8500"    
  - name: run consul network
    docker: 
      name: consul-network
      image: progrium/consul
      state: started
      command: "-server -bootstrap"
      detach: True
      restart_policy: always
      ports:
      - "8501:8501"
