- name: enable passenger repo
  apt_repository: repo='deb https://oss-binaries.phusionpassenger.com/apt/passenger trusty main' state=present 
- name: add key
  apt_key: keyserver=keyserver.ubuntu.com id=561F9B9CAC40B2F7
- name: apt-get update
  apt: update_cache=yes
- name: apt-get install passenger 
  apt: name=passenger,nginx-extras state=latest 
