  - name: run swarm node 
    ec2:
      key_name: "{{ key_swarm_name }}"
      group: "{{ sg_swarm_name }}"
      instance_type: "t2.micro"
      image: "ami-fce3c696"
      wait: yes
      wait_timeout: 500
      instance_tags:
        Name: "swarm-ami"
      region: "{{ aws_region }}"
      ebs_optimized: "no"
      volumes:
        - device_name: /dev/xvdf
          volume_type: "gp2"
          volume_size: "500"
      vpc_subnet_id : "{{ subnet_swarm }}"
      assign_public_ip: yes
      instance_profile_name: "{{ ec2_iam_role }}"
    register: ec2
  - name: print ec2
    debug: var=ec2 
  - name: Add new instance to host group
    add_host: hostname={{ item.private_ip }} groupname=node-swarm-ami ansible_ssh_private_key_file=/var/lib/jenkins/keys/key_swarm_rsa
    with_items: ec2.instances
  - name: Wait for SSH to come up
    wait_for: host={{ item.private_ip }} port=22 delay=60 timeout=320 state=started
    with_items: ec2.instances
