- name: Create new EC2 iam role
  iam:
    iam_type: role 
    name: "{{ ec2_iam_role }}"
    state: present
- name: Add cloudwatch policy
  iam_policy:
    iam_type: role 
    iam_name: "{{ ec2_iam_role }}"
    policy_name: "pol_{{ ec2_iam_role }}_cloudwatch"
    state: present
    policy_json: " {{ lookup( 'template', 'cloudwatch.json') }} "
