- hosts: manager 
  roles:
      #- base
      #- reboot
      #- sysdig
      - docker
      - newrelic
      - swarm
      - swarm-consul
      - swarm-manager
      #- swarm-registry
      #- tuna
  remote_user: ubuntu 
  become: yes
  become_user: root
  become_method: sudo
- hosts: node 
  roles:
      - base
      - sysdig
      - docker
      - newrelic
      - swarm
      - swarm-node 
  remote_user: ubuntu
  become: yes
  become_user: root
  become_method: sudo
