  - name: Gather facts
    action: ec2_facts
  - name: certs directory
    file: path=/certs state=directory mode=0755
  - name: copy certs
    copy: src="{{ item }}" dest=/certs
    with_items:
       - wildcard.crt
       - wildcard.key
  - name: run manager 
    #shell: "docker run -d -p 4000:4000 --name swarm-manager swarm manage -H :4000 --replication --advertise {{ ansible_ec2_local_ipv4 }}:4000 consul://{{ consul_ip }}:8500"
    docker:
      name: swarm-manager
      image: swarm
      state: started
      command: "manage -H :4000 --cluster-opt swarm.overcommit=1000 --replication --advertise {{ ansible_ec2_local_ipv4 }}:4000 consul://{{ consul_ip }}:8500"
      detach: True
      restart_policy: always
      expose:
      - 4000
      ports:
      - "4000:4000"
      env:
        SWARM_HOST: "2375"
